doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='description', content='Tagore Public School Naraina Vihar website, tpsnarainavihar')
    meta(name='title', content='Tagore Public School Naraina Vihar')
    title Tagore Public School, Naraina Vihar
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")
    
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    // Fixed navbar
    .example5
        nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar5')
                  span.sr-only Toggle navigation
                  |           
                  span.icon-bar
                  |           
                  span.icon-bar
                  |           
                  span.icon-bar
                |         
                a.navbar-brand(href='/')
                  img#logoImage(src='/images/logo/logo1.jpg', alt='Dispute Bills')
                  p#brandText
                    span
                      | Tagore Public School
                    span.span2
                      | Recognized and Affiliated to CBSE
                    span.span3
                      | D Block, Naraina Vihar , New Delhi - 110028     
          

              #navbar5.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/') HOME
                  li
                    a(href='/about') ABOUT
                  li
                    a(href='/preSchool') PRESCHOOL
                  li
                    a(href='/academic') ACADEMIC
                  li.active
                    a(href='/gallery1') GALLERY                  
                  li
                    a(href='/infrastructure') INFRASTRUCTURE                    
                  li
                    a(href='/notifications1') NOTIFICATIONS/ADMISSIONS                    
                  li
                    a(href='/contact1') CONTACT  

        // /.nav-collapse
    //
      *****************************************************************************************************************
      BLUE WRAP
      *****************************************************************************************************************
    #blue
      .container
        .row
          h3 IMAGES
    .container.mtb      
      .row
        .col-lg-10.col-lg-offset-1
          
          
          if galleries.length
            each gallery, i in galleries
              h3
                | #{gallery.name} 
                small.text-muted= gallery._.publishedDate.format('Do MMM YYYY')
              
              .row
                each image, i in gallery.images
                  .col-xs-4.col-sm-3.col-md-2(style="margin-bottom: 30px;")
                    a(href=image.limit(900,600), title=gallery.name + ' image ' + (i+1), rel=gallery.key).gallery-image
                      img(src=image.fill(300,300), alt=gallery.name + ' image ' + (i+1)).img-thumbnail
            
          else
            .jumbotron.text-center
              h3(style="margin-bottom:0;margin-top:0;") There are no albums yet.

          

    //
      *****************************************************************************************************************
      PORTFOLIO SECTION
      *****************************************************************************************************************
    //- #portfoliowrap
    //-   h3 LATEST SCHOOL PHOTOS
    //-   .portfolio-centered
    //-     .recentitems.portfolio
    //-       .portfolio-item.graphic-design
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_09.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Graphic Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_09.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.web-design
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_02.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Web Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_02.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.graphic-design
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_03.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Graphic Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_03.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.graphic-design
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_04.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Graphic Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_04.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.books
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_05.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Book Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_05.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.graphic-design
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_06.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Graphic Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_06.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.books
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_07.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Book Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_07.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.graphic-design
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_08.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Graphic Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_08.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.web-design
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_01.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Web Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_01.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
    //-             // he bg
    //-           // he view
    //-         // he wrap
    //-       // end col-12
    //-       .portfolio-item.books
    //-         .he-wrap.tpl6
    //-           img(src='/images/portfolio/portfolio_10.jpg', alt='')
    //-           .he-view
    //-             .bg.a0(data-animate='fadeIn')
    //-               h3.a1(data-animate='fadeInDown') A Book Design Item
    //-               a.dmbutton.a2(data-rel='prettyPhoto', href='/images/portfolio/portfolio_10.jpg', data-animate='fadeInUp')
    //-                 i.fa.fa-search
    //-               a.dmbutton.a2(href='single-project.html', data-animate='fadeInUp')
    //-                 i.fa.fa-link
              
    //
      *****************************************************************************************************************
      FOOTER
      *****************************************************************************************************************
    #footerwrap
      .container
        .row
          .col-lg-8
            div(style='width:600px;max-width:100%;overflow:hidden;height:200px;color:red;')
              #my-map-display(style='height:100%; width:100%;max-width:100%;')
                iframe(style='height:100%;width:100%;border:0;', frameborder='0', src='https://www.google.com/maps/embed/v1/place?q=Tagore+Public+School,+Naraina,+New+Delhi,+Delhi,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU')
              style.
                #my-map-display img{max-width:none!important;background:none!important;}            
          .col-lg-4
            h4 Address And Contact Details
            .hline-w
            p
              | Tagore Public School , Naraina Vihar
              br            
              | D Block
              br
              | Naraina Vihar
              br
              | New Delhi - 110028
              br
              | Email : 
              a(href='mailto:helpdesk@tpsnarainavihar.com') helpdesk@tpsnarainavihar.com
              br
              |                       Phone : 
              a(href='tel:25892157') 25892157 ,
              a(href='tel:25894234') 25894234  
              br   
              | Follow us on Facebook :                       
              a(href='https://www.facebook.com/tpsnarainavihar/')
                i.fa.fa-facebook           
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/js/lib/jquery/jquery.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')
    script(src='/js/lib/bootstrap/retina-1.1.0.js')
    script(src='/js/lib/bootstrap/jquery.hoverdir.js')
    script(src='/js/lib/bootstrap/jquery.hoverex.min.js')
    script(src='/js/lib/bootstrap/jquery.prettyPhoto.js')
    script(src='/js/lib/bootstrap/jquery.isotope.min.js')
    script(src='/js/lib/bootstrap/custom.js')
    script(src="/js/lib/fancybox/jquery.fancybox.pack.js")
    
    script.
      // Portfolio
      (function($) {
      "use strict";
      
      $('.gallery-image').fancybox({
        prevEffect: 'none',
        nextEffect: 'none',
        closeBtn: false,
        helpers: {
          titl: {},
          buttons: {}
        }
      });
        
      var $container = $('.portfolio'),
      $items = $container.find('.portfolio-item'),
      portfolioLayout = 'fitRows';
      if( $container.hasClass('portfolio-centered') ) {
      portfolioLayout = 'masonry';
      }
      $container.isotope({
      filter: '*',
      animationEngine: 'best-available',
      layoutMode: portfolioLayout,
      animationOptions: {
      duration: 750,
      easing: 'linear',
      queue: false
      },
      masonry: {
      }
      }, refreshWaypoints());
      function refreshWaypoints() {
      setTimeout(function() {
      }, 1000);
      }
      $('nav.portfolio-filter ul a').on('click', function() {
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector }, refreshWaypoints());
      $('nav.portfolio-filter ul a').removeClass('active');
      $(this).addClass('active');
      return false;
      });
      function getColumnNumber() {
      var winWidth = $(window).width(),
      columnNumber = 1;
      if (winWidth > 1200) {
      columnNumber = 5;
      } else if (winWidth > 950) {
      columnNumber = 4;
      } else if (winWidth > 600) {
      columnNumber = 3;
      } else if (winWidth > 400) {
      columnNumber = 2;
      } else if (winWidth > 250) {
      columnNumber = 1;
      }
      return columnNumber;
      }
      function setColumns() {
      var winWidth = $(window).width(),
      columnNumber = getColumnNumber(),
      itemWidth = Math.floor(winWidth / columnNumber);
      $container.find('.portfolio-item').each(function() {
      $(this).css( {
      width : itemWidth + 'px'
      });
      });
      }
      function setPortfolio() {
      setColumns();
      $container.isotope('reLayout');
      }
      $container.imagesLoaded(function () {
      setPortfolio();
      });
      $(window).on('resize', function () {
      setPortfolio();
      });
      
      var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
          // Firefox 1.0+
      var isFirefox = typeof InstallTrigger !== 'undefined';
          // At least Safari 3+: "[object HTMLElementConstructor]"
      var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
          // Internet Explorer 6-11
      var isIE = /*@cc_on!@*/false || !!document.documentMode;
          // Edge 20+
      var isEdge = !isIE && !!window.StyleMedia;
          // Chrome 1+
      var isChrome = !!window.chrome && !!window.chrome.webstore;
          // Blink engine detection
      var isBlink = (isChrome || isOpera) && !!window.CSS;  
      
      if( isIE == true ){
        $('#logoImage').hide();
      }
            
      })(jQuery);
      
