include ../mixins/post

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Tagore Public School Naraina Vihar')
    meta(name='author', content='')
    title Tagore Public School
    // Bootstrap core CSS
    link(href="/styles/themes/" + currentTheme + ".min.css", rel="stylesheet")
    // Custom styles for this template
    link(href='/styles/themes/style.css', rel='stylesheet')
    link(href='/styles/themes/fa/css/font-awesome.min.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/bootstrap/modernizr.js')
  body
    // Fixed navbar
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/home') Tagore Public School
        .navbar-collapse.collapse.navbar-right
          ul.nav.navbar-nav
            li
              a(href='home') HOME
            li
              a(href='about') ABOUT
            li
              a(href='contact1') CONTACT
            li.active
              a(href='blog1') BLOG
            li
              a(href='notifications1') NOTIFICATIONS
            li
              a(href='admissions') ADMISSIONS

    .container.mtb
      .row
        .col-lg-8
          if !post
              .jumbotron.text-center
                  h2 Invalid post...
                  p.lead Please check the url and try again
          else
              .row
                  .col-md-8.col-md-offset-2
                      p: a(href='/blog1').text-muted &larr; back to the blog
                      hr
                      article
                          header
                              h1(style="")= post.name
                              if post.image.exists
                                  div(style="margin-bottom: 20px; margin-top: 20px;")
                                      img(src=post._.image.fit(750,500)).img-responsive
                              div
                                  p.text-muted.text-small Posted 
                                      if post.publishedDate
                                          | on 
                                          time(datetime=post.publishedDate)=post._.publishedDate.format('MMMM Do, YYYY')
                                      if post.categories && post.categories.length
                                          |  in 
                                          each cat, cat_i in post.categories
                                              a(href='/blog/' + cat.key)= cat.name
                                              if cat_i < post.categories.length - 1
                                                  | , 
                                              else
                                                  |  
                                      if post.author
                                          | by #{post.author.name.full}
                              hr
                              != post.content.full
                              .hline
                              .spacing    
    //
      *****************************************************************************************************************
      FOOTER
      *****************************************************************************************************************
    #footerwrap
      .container
        .row
          .col-lg-4
            h4 About
            .hline-w
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          .col-lg-4
            h4 Social Links
            .hline-w
            p
              a(href='#')
                i.fa.fa-dribbble
              a(href='#')
                i.fa.fa-facebook
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-instagram
              a(href='#')
                i.fa.fa-tumblr
          .col-lg-4
            h4 Our Bunker
            .hline-w
            p
              | Some Ave, 987,
              br
              | 		 				23890, New York,
              br
              | 		 				United States.
              br
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')
    script(src='/js/lib/bootstrap/retina-1.1.0.js')
    script(src='/js/lib/bootstrap/jquery.hoverdir.js')
    script(src='/js/lib/bootstrap/jquery.hoverex.min.js')
    script(src='/js/lib/bootstrap/jquery.prettyPhoto.js')
    script(src='/js/lib/bootstrap/jquery.isotope.min.js')
    script(src='/js/lib/bootstrap/custom.js')
